{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% include 'includes/dashboard_sidebar.html' %}

    <div class="container m-3" style="width: 40%;">
        <div>
            <img src="{{ profile.profileimg.url }}" style="max-width: 100px; border-radius: 20px; ;">
        </div>
        <form action="#" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
    
          <label for="formFile" class="form-label">Change your profile picture</label>
          <input class="form-control" name="profile_pic" type="file" id="formFile">
    
          <!-- <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
    
          <label for="exampleFormControlInput2" class="form-label">User name</label>
          <input type="text" name="username" class="form-control" id="exampleFormControlInput2">
    
          <label for="exampleFormControlInput3" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleFormControlInput3"> -->
    
          <!-- <label for="exampleFormControlTextarea5" class="form-label">Bio</label>
          <textarea name="bio" class="form-control" style="max-height: 150px;" id="exampleFormControlTextarea5" rows="3" placeholder="{{profile.bio}}"></textarea>
     -->    
          <!-- <label for="exampleFormControlInput4" class="form-label">Phone number</label>
          <input type="number" name="phonenumber" class="form-control" id="exampleFormControlInput4">

          <label for="exampleFormControlInput6" class="form-label">Location</label>
          <input type="text" name="location" class="form-control" id="exampleFormControlInput6" placeholder="{{profile.location}}">
     -->
          <button type="submit" class="btn btn-success my-3" style="width:150px">save</button>
        </form>
    </div>
</div>




{% endblock %}